/********************
		GENERAL
********************/
.wrapper{
	width:80%;
	max-width:1680px;
	margin:0 auto;
	font-weight:200;
}

.debug{
	background-color:red;
}

/*Down pointing*/
.triangle-down {
	width: 0;
	height: 0;
	border-left: .5em solid transparent;
	border-right: .5em solid transparent;
	border-top: .75em solid rgb(233, 141, 112);
	border-bottom:0;
	float:left;
	margin-left: -1em;
	/*margin-top:.25em;*/
	margin-top: -.6em;

	transform:rotate(-90deg);
	transition: ease-in-out .5s;
}

/********************
			LEFT BAR
********************/

.social-ico{
	width:5%;
	min-width:75px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.social-ico:hover{
	transform:scale(1.05,1.05);
}
