/********************
		GENERAL
********************/
.wrapper{
	width:80%;
	max-width:1680px;
	margin:0 auto;
	font-weight:200;
}

.debug{
	background-color:red;
}

.reveal{
	border-radius:5px;
}

.card{
	/*border-radius:5px;*/
}

/********************
			LEFT BAR
********************/
#leftbar{
	/*height:100vh;*/
	/*position: fixed;*/
	border-top: #414141 1px dotted;
	min-height: 50vh;
}

#leftbar-content{
	text-align: center;
}

#name{
	margin-top: 5vh;
	color:#414141;
}

#social{
	margin-top: 15px;
	margin-bottom: 20px;
}

.social-ico{
	width:5%;
	min-width:65px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.social-ico:hover{
	transform:scale(1.05,1.05);
}

#nav{
	/*margin-top:10vh;*/
}

.navlist{
	display:inline-block;
	max-width: 100%;
}

#navtext{
	font-variant: small-caps;
	list-style-type:none;
}


.menu > li:not(.menu-text) > a{
	color:#777;
	padding:0;
}

#navtext a:hover{
	color:grey;
}

.current{
	text-decoration: underline;;
}

/********************
			CONTENT
********************/

#content{
	/*background:blue;*/
	min-height:100vh;
	padding-top: 5vh;
	border: #414141 1px dotted;
	border-bottom:none;
}

.title{
	padding-bottom: 20px;
}

.card{
	/*border: 1px solid #414141;*/
	margin-bottom:25px;
	-webkit-box-shadow: 0px 4px 12px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 4px 12px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 4px 12px 1px rgba(0,0,0,0.24);
	transition:ease-in-out .1s;
}

.card:hover{

	-webkit-box-shadow: 0px 4px 12px 1px rgba(23,121,186,0.52);
	-moz-box-shadow: 0px 4px 12px 1px rgba(23,121,186,0.52);
	box-shadow: 0px 4px 12px 1px rgba(23,121,186,0.52);
}

.project-title{
	padding-top:5px;
	padding-bottom: 5px;
	color:#414141;
	font-variant: small-caps;
}

.project-text{
	position: relative;
	top: 50%;
	transform: translateY(50%);
}
