

.horizontal-rule{
	background-color:#1E824C;
}

.section-gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e824c+0,66cc9a+100&0.88+0,0.73+30 */
	background: -moz-linear-gradient(top,  rgba(30,130,76,0.88) 0%, rgba(52,152,99,0.73) 30%, rgba(102,204,154,0.73) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,130,76,0.88) 0%,rgba(52,152,99,0.73) 30%,rgba(102,204,154,0.73) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,130,76,0.88) 0%,rgba(52,152,99,0.73) 30%,rgba(102,204,154,0.73) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e01e824c', endColorstr='#ba66cc9a',GradientType=0 ); /* IE6-9 */
	
	padding-top: 100px;
	padding-bottom: 100px;
	width:100%;
	-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
	box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
}

h4 > a{
	color:#424242;
}

h4 > a:hover{
	color:gray;
}