/*colors:
peach: rgb(233, 141, 112)
light-peach: #bdc3c7
dark gray: #424242

dot: rgb(77,183,252)*/



/********************
		GENERAL
********************/
.wrapper{
	width:80%;
	max-width:1680px;
	margin:0 auto;
	font-weight:200;
}

.subsection-header{
	color:#424242;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: -20px;
}

.debug{
	background-color:red;
}

/********************
		NAVBAR
********************/

.top-bar{
	background-color:#FFF;
	padding-top:15px;
}

.name{
	margin-top:10px;
	font-size:1.5em;
	color:#424242;
}

.home-ico{
	float:right;
	width:5%;
	min-width:75px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
}

.horizontal-rule-nav{
	width:100%;
	display:inline-block;
	height:5px;
	background-color:#424242;
}


/********************
		BODY
********************/

.section-gradient{

}

.section-white{
	padding:3.7rem 0 3.7rem 0;
}

.horizontal-rule{
	width:100%;
	display:inline-block;
	height:5px;
	margin-top:25px;
	margin-bottom:25px;
}

.project-title{
	color:#424242;
	text-align: center;
	font-size: 4em;
}

.project-title-small{
	color:#424242;
	text-align: center;
	font-size: 2em;
}

.img-circle{
	min-width:100px;
	height:auto;
	border-style:solid;
	border-radius:50%;
	border-color:#FFF;
	border-width:.35em;
}

.img-round-corners{
	min-width:100px;
	height:auto;
	border-style:solid;
	border-radius:40px;
	border-color:#FFF;
	border-width:.35em;
	margin-top:3em;
}

.overview{
	margin-top:3em ;
	margin-bottom:10px;
	display: inline-block;
}

.description-text{
	color:white;
	padding:10px 20px 2px 20px;
	display:inline-block;
	margin-top:15%;
	border-left: 5px solid #FFF;
	margin-bottom:3em;
}

.intro-text h4{
	font-size: 1.4em;
}

.section-3{
	padding-left:5%;
	padding-right:5%;
}

.section-3-list{
	margin-top: -20px;
}

.section-3-list-el{
	color:#424242;
}


/********************
		FOOTER
********************/

.footer{
	background-color: #424242;
	padding-top: 30px;
	padding-bottom: 30px;
}

.social-ico{
	width:5%;
	min-width:75px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.social-ico:hover{
	transform:scale(1.05,1.05);
}