/*colors:
peach: rgb(233, 141, 112)
light-peach: #bdc3c7
dark gray: #424242

dot: rgb(77,183,252)*/



/********************
		GENERAL
********************/
.wrapper{
	width:80%;
	max-width:1680px;
	margin:0 auto;
	font-weight:200;
}

.section-header-themed{
	opacity: .9;
	display:inline-block;
	text-align:center;
	margin-bottom:15px;
	border-style:solid;
	border-color:rgb(77,183,252);
	border-width:5px;
	padding:7px 20px;
	padding-bottom:0px;
	/*margin-bottom: 50px;*/
	border-radius:40px;
	font-style: bold;
	color:rgb(77,183,252);
}

.subsection-header{
	color:#424242;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: -20px;
}


.debug{
	background-color:red;
}

/********************
		NAVBAR
********************/

.top-bar{
	background-color:#FFF;
	padding-top:15px;
}

.name{
	margin-top:10px;
	font-size:1.5em;
	color:#424242;
}

.home-ico{
	float:right;
	width:5%;
	min-width:75px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
}


.horizontal-rule-nav{
	width:100%;
	display:inline-block;
	height:5px;
	background-color:#424242;
}


/********************
		BODY
********************/

.section{
}

.horizontal-rule{
	width:90%;
	display:inline-block;
	height:5px;
	background-color:rgb(77,183,252);
	margin-left:5%;
	margin-top:25px;
	margin-bottom:25px;
}

.project-title{
	color:#424242;
	text-align: center;
	font-size: 4em;
	padding-top:50px;
}

.project-title-small{
	color:#424242;
	text-align: center;
	font-size: 2em;
	padding-top:25px;
}

.img-circle{
	min-width:100px;
	height:auto;
	border-style:solid;
	border-radius:50%;
	border-color:#FFF;
	border-width:.35em;
}

.img-round-corners{
	min-width:100px;
	height:auto;
	border-style:solid;
	border-radius:40px;
	border-color:#FFF;
	border-width:.35em;
}


.overview{
	margin-top:3em ;
	margin-bottom:10px;
	border: 5px solid rgb(77,183,252);
	border-radius:40px;
	display: inline-block;
	padding:20px 35px;
}





/********************
		FOOTER
********************/


.footer{
	background-color: #424242;
	padding-top: 30px;
	padding-bottom: 30px;
}

.social-ico{
	width:5%;
	min-width:75px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.social-ico:hover{
	transform:scale(1.05,1.05);
}