/*rgb(239,49,37)
*/

.horizontal-rule{
	background-color:rgb(239,49,37);
}

.section-gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed463d+0,edb2af+100 */
	background: rgb(237,70,61); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,70,61,1) 0%, rgba(237,178,175,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(237,70,61,1) 0%,rgba(237,178,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(237,70,61,1) 0%,rgba(237,178,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed463d', endColorstr='#edb2af',GradientType=0 ); /* IE6-9 */
	
	padding-top: 100px;
	padding-bottom: 100px;
	width:100%;
	-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
	box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.41);
}

h4 > a{
	color:#424242;
}

h4 > a:hover{
	color:gray;
}

.img-circle{
	border-radius:45%;
	padding: 20px;
}